.full-width {
  width: 100%;
}

.row {
  display: flex;
  flex-direction: row;
}

.col {
  flex: 1;
}

.status-section {
  margin-left: 10px;

  .successful-icon {
    color: green;
    visibility: hidden;
  }
  .error-icon {
    color: red;
    visibility: hidden;
  }
}

.puff-out-center {
  visibility: visible !important;
  animation: puff-out-center 3s cubic-bezier(0.165, 0.840, 0.440, 1.000) both;
}

@keyframes puff-out-center {
  75% {
    transform: scale(1);
    filter: blur(0px);
    opacity: 1;
  }
  100% {
    transform: scale(2);
    filter: blur(4px);
    opacity: 0;
  }
}
