<div class="wellness-form">
  <mat-form-field appearance="fill">
    <mat-label>Choose a date</mat-label>
    <input
      matInput
      [value]="selectedDate"
      [matDatepicker]="datepicker"
      (dateChange)="onDateChanged($event)">
    <mat-datepicker-toggle matIconSuffix [for]="datepicker"></mat-datepicker-toggle>
    <mat-datepicker #datepicker></mat-datepicker>
  </mat-form-field>
  <div>
    <form
      *ngIf="formGroup!!"
      [formGroup]="formGroup"
      novalidate
      (ngSubmit)="onSubmit()">
      <div *ngFor="let field of wellnessFields">
        <app-form-input
          [formGroup]="formGroup"
          [wellnessField]="field"
        ></app-form-input>
      </div>
      <div class="action-section">
        <button
          *ngIf="!requestInProgress"
          mat-raised-button
          [disabled]="formGroup.invalid"
          type="submit"
          color="primary"
          [class.successful-button]="requestSuccessful"
          [class.error-button]="requestError"
          class="submit-button">
          Send
        </button>
      </div>
    </form>

    <div class="status-section">
      <div class="error-message">{{errorMessage}}</div>
      <mat-spinner
        *ngIf="requestInProgress"
        [diameter]="70"
        class="spinner"></mat-spinner>
    </div>
  </div>
</div>
