<form
  *ngIf="formGroup!!"
  [formGroup]="formGroup"
  novalidate
  (ngSubmit)="onSubmit()">
  <mat-card class="shipping-card">
    <mat-card-header>
      <mat-card-title>Wellness</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col">
          <mat-form-field appearance="fill">
            <mat-label>Choose a date</mat-label>
            <input
              matInput
              [matDatepicker]="datepicker"
              formControlName="id">
            <mat-datepicker-toggle
              matIconSuffix
              [for]="datepicker"
            ></mat-datepicker-toggle>
            <mat-datepicker #datepicker></mat-datepicker>
          </mat-form-field>
        </div>
      </div>
      <div class="row" *ngFor="let control of wellnessFields">
        <div class="col">
          <app-form-input
            [formGroup]="formGroup"
            [inputType]="control.type"
            [controlName]="control.controlName"
            [placeholder]="control.controlName"
          ></app-form-input>
        </div>
      </div>
    </mat-card-content>
    <mat-card-actions>
      <button
        mat-raised-button
        color="primary"
        [disabled]="formGroup.invalid"
        type="submit">
        Send
      </button>
      <div class="status-section">
        <mat-spinner
          *ngIf="sendingInProgress"
          [diameter]="30"
          class="spinner"
        ></mat-spinner>
        <mat-icon
          class="successful-icon"
          [class.puff-out-center]="requestSuccessful"
        >
          check_circle
        </mat-icon>
        <mat-icon
          class="error-icon"
          [class.puff-out-center]="requestError"
        >
          error
        </mat-icon>
      </div>
    </mat-card-actions>
  </mat-card>
</form>
